
@{
    ViewBag.Title = "FavoriteCar";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="content-title">
    <h4>Xe yêu thích của tôi</h4>
</div>
<div class="tab-mode">
    <div class="tab-mode__item active">Xe tự lái</div>
    <div class="tab-mode__item">Xe có tài xế</div>
</div>
<div class="empty-container">
    <img loading="lazy" src="https://www.mioto.vn/static/media/empty-favcar.2c855700.svg" alt="">
    <p>Không có xe yêu thích</p>
</div>

