
@{
    ViewBag.Title = "MyAddress";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div class="content-title">
    <h4>Địa chỉ của tôi</h4>
</div>
<div class="content-item address-list">
    <div class="title">
        <h4>Địa chỉ đã lưu</h4>
        <a href="#" class="btn btn--s">Thêm địa chỉ mới</a>
    </div>
    <div class="content">
        <div class="empty-container">
            <img loading="lazy" src="https://www.mioto.vn/static/media/empty-address.6de0bd2f.svg" alt="">
            <p>Bạn chưa có địa chỉ</p>
        </div>
    </div>
</div>

