
@{
    ViewBag.Title = "RegisterOwner";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="modal-content" role="document" style="width: 60%;">
    <div class="modal-header">
        <h4 class="text-primary">Đăng ký xe cho thuê</h4>
        <p class="sub-title">Bạn vui lòng điền đầy đủ thông tin, MIOTO sẽ liên hệ vói bạn trong vòng một ngày làm&nbsp;việc.</p>
    </div>
    <div class="modal-body">
        <div class="modal-input-body modal-owner-register">
            <div class="line-form">
                <div class="custom-input">
                    <div class="wrap-info">
                        <div class="title-status">
                            <p>Khu vực cho thuê</p>
                        </div>
                    </div>
                    <div class="custom-select">
                        <select required name="city">
                            <option value="" disabled hidden selected>Chọn khu vực</option>
                            <option value="HoChiMinh">TP Hồ Chí Minh</option>
                            <option value="HaNoi">Hà Nội</option>
                            <option value="DaNang">Đà Nẵng</option>
                            <option value="BinhDuong">Bình Dương</option>
                            <option value="CanTho">Cần Thơ</option>
                            <option value="DaLat">Đà Lạt</option>
                            <option value="NhaTrang">Nha Trang</option>
                            <option value="QuyNhon">Quy Nhơn</option>
                            <option value="PhuQuoc">Phú Quốc</option>
                            <option value="HaiPhong">Hải Phòng</option>
                            <option value="VungTau">Vũng Tàu</option>
                            <option value="Others">Thành phố khác</option>
                        </select>

                    </div>
                </div>
            </div>

            <div class="line-form">
                <div class="custom-input">
                    <div class="wrap-info">
                        <div class="title-status">
                            <p>Tên chủ xe*</p>
                        </div>
                    </div>
                    <div class="wrap-input">
                        <input type="text" placeholder="Tên của bạn" name="name" value="">
                    </div>
                </div>
                <div class="custom-input">
                    <div class="wrap-info">
                        <div class="title-status">
                            <p>Số di động*</p>
                        </div>
                    </div>
                    <div class="wrap-input">
                        <input type="text" placeholder="Số của bạn" name="phoneNumber" value="">
                    </div>
                </div>
            </div>

            <div class="line-form">
                <div class="custom-input">
                    <div class="wrap-info">
                        <div class="title-status">
                            <p>Xe cho thuê</p>
                        </div>
                    </div>
                    <div class="wrap-input">
                        <input type="text" placeholder="Loại xe của bạn" name="carName" value="">
                    </div>
                </div>
            </div>

            <div class="wrap-btn btn-register">
                <a class="btn btn--m btn-primary">Gửi thông tin đến MIOTO</a>
            </div>
        </div>
    </div>
</div>

